body{
    width: 1444px;
    margin: auto;
    background-color: rgba(240, 226, 226, 0.493);

}
.btn-primary{
    border: 0;
    color: aliceblue;
    border-radius: 12px;
    padding: 13px 36px;
    background-color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
}

/* header section style  */


.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title h3{
    font-weight: 700;
    font-size: 24px;
}
/* .nav-section nav{
    
} */
.nav-section nav a{
    text-decoration: none;
    color: #3A3A3A;
    padding-left: 34px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 80px;
}
.banner-title{
    /* margin-left: 120px; */
}
.banner-title h2{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 52px;
    padding-top: 145px;
    margin-bottom: 16px;
}
.banner-title p{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}
.banner-image{
    height: 475px;
    width: 475px;
    background-image: url('../images/Circle-design.svg');
    margin-right: 130px;
}
.banner-image img{
    height: 414px;
    width: 440px;
    padding-top: 25px;
}

/* icon-logo section style  */
.company-icon{
    margin-top: 70px;
}
.com-icon{
    height: 110px;
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}